<form action="/user/create" method="post">
    <label>
        Nombre
        <input type="text" name="name">
    </label>
    <label>
        Edad
        <input type="number" name="age">
    </label>
    <label>
        Telefono
        <input type="number" name="phone">
    </label>
    <label>
        Correo
        <input type="email" name="email">
    </label>
    <button>Guardar</button>
</form>